!.gitignore
.buildpath
.project
.settings
.setting
.project
.idea/*
logs/*
cache/images*
cache/import*
cache/upload*
storage/*
test/curumeru_csv/*
test/templates_c
test/upload/*
test/vtlib/CSS/*
test/vtlib/URI/*
test/vtlib/HTML/*
user_privileges/*
!user_privileges/sharing_privileges_1.php
!user_privileges/user_privileges_1.php
/*.xlsx
.DS_Store
.vscode