!.gitignore
.buildpath
.project
.settings
.setting
.project
.idea/*
logs/*
cache/images/*
!cache/images/.htaccess
cache/import/*
!cache/import/.htaccess
cache/upload/*
!cache/upload/.htaccess
storage/*
!storage/.htaccess
test/curumeru_csv/*
test/templates_c
test/upload/*
test/vtlib/CSS/*
test/vtlib/URI/*
test/vtlib/HTML/*
user_privileges/*
!user_privileges/sharing_privileges_1.php
!user_privileges/user_privileges_1.php
!user_privileges/audit_trail.php
!user_privileges/default_module_view.php
!user_privileges/enable_backup.php
!user_privileges/index.html
/*.xlsx
.DS_Store
.vscode
config.inc.php
