# +**********************************************************************************
# The contents of this file are subject to the vtiger CRM Public License Version 1.0
# ("License"); You may not use this file except in compliance with the License
# The Original Code is:  vtiger CRM Open Source
# The Initial Developer of the Original Code is vtiger.
# Portions created by vtiger are Copyright (C) vtiger.
# All Rights Reserved.
# ***********************************************************************************

parameters:
    level: 9                             # 0から9まで
    bootstrapFiles:
        - phpstan-bootstrap.php
        - vtlib/Vtiger/Utils.php
        - includes/runtime/Controller.php
        - includes/runtime/Globals.php
        - includes/http/Request.php
        - includes/http/Response.php
        - includes/runtime/Viewer.php
    scanFiles:
        - includes/exceptions/AppException.php
        - includes/runtime/LanguageHandler.php
        - includes/http/Session.php
        - libraries/InStyle/InStyle.php
        - libraries/csrf-magic/csrf-magic.php
        - setup/migration/FRMigrationClass.php
        # スケジューラ（#1823）のテストが参照するクラス。テスト側では実行時に
        # require するが、パスを変数で組み立てるため phpstan は追えない。
        - include/database/PearDatabase.php
        - vtlib/Vtiger/Cron.php
        - include/utils/CronDispatcher.php
        - modules/Settings/CronTasks/models/Module.php
        - modules/Settings/CronTasks/models/Record.php
        - modules/Settings/CronTasks/views/EditAjax.php
        - modules/Settings/CronTasks/views/LogAjax.php
        - setup/migration/scripts/20260825112920_setup_cron_scheduler_stability.php
