# Apache 2.4
<IfModule mod_authz_core.c>
    <Files ~ "^.*.(md|php|pem|p12)">  
      Require all denied
    </Files>    
</IfModule>

# Apache 2.2
<IfModule !mod_authz_core.c>
    <Files ~ "^.*.(md|php|pem|p12)">  
      Order Allow,Deny
      Deny from all
    </Files>
</IfModule>

