.clearfix {
  clear: both;
}

/*
 * 一覧の左側の列固定（IE11非対応）
 */
 @media (min-width: 991px) { 
  .fix-title-column {
    position: sticky;
    z-index: 1;
    left: 0;
    background: rgb(251, 251, 251);
    transform: scale(0.999);
    background-clip: padding-box;
  }
  .fix-data-column {
    position: sticky;
    z-index: 1;
    left: 0;
    background: #fff;
    transform: scale(0.999);
    background-clip: padding-box;
  }
}
/*
 * モーダルウインドウの背景を黒ベースに変更
 */
.modal-backdrop {
  background-color: #555;
}

/*
 * カスタムモジュールのアイコン位置調整
 */
 .app-menu a .module-icon .custom-module {
  position: relative;
  width: 23px;
  height: 20px;
  padding: 8px 6px 0px 3px !important;
}
.app-menu a .module-icon .custom-module span {
  position: absolute;
  top:0px;
  left: 3px;
}
.modules-menu .module-qtip .custom-module {
  text-align: center;
  padding: 3px 4px 3px 4px !important;
}

.related-tabs .tab-icon {
  position: relative;
}
.related-tabs .tab-icon .custom-module {
  position: relative;
  top: 2px;
}
.row .nav > li.tab-item > a,
.row .nav > li.tab-item > a:hover {
  height: 40px;
}
#mailmanagerContainer {
  padding-top: 10px;
}
.app-modules-dropdown-container-global.open {
  background: #eee;
}
.app-modules-dropdown-container-global .dropdown-toggle {
  cursor: pointer;
  padding: 13px;
}
.app-modules-dropdown-container-global .custom-module {
  background: #666;
  color: #fff;
}
.fc-slats tr {
  height: 35px;
}

/**
 * PDF Templates
 */
 #SLAEditContainer .select2.inputElement.PDFTemplates,
 #editTagContainer .select2.inputElement.PDFTemplates {
   width: 90%;
 }

/*
 * モバイル表示
 */
@media (max-width: 768px) { 
  .settingsIcon {
    display: none;
  }
  .calendarview {
    padding-bottom: 25px;
  }
  div.CalendarViewPageDiv {
    padding-top: 30px;
  }
  .list-menu-content.calendar_view_events .mCustomScrollBox {
    max-height: none!important;
    overflow: scroll;
    -webkit-overflow-scrolling: touch
  }
  .main-container .module-nav {
    width: 100%;
    z-index: 1100;
    background-color: #2C3B49;
    background: #2C3B49;
  }
  .module-nav div.modules-menu {
    position: relative;
    left: auto;
  }
  .module-nav div.mod-switcher-container {
    width: 100%;
  }
  .modules-menu ul li {
    display: inline-block;
  }
  .modules-menu ul li.module-qtip a > span {
    display: none;
  }
  .listViewPageDiv.content-area.full-width, .CalendarViewPageDiv.content-area.full-width, .editViewPageDiv.content-area.full-width, .settingsPageDiv.content-area.full-width {
    padding-left: 0!important;
  }
  .detailViewContainer {
    padding-top: 60px;
  }
  .dashBoardContainer {
    padding-top: 40px;
  }
  #mCSB_9_scrollbar_vertical {
    display: none!important;
  }
  .mCustomScrollbar.mCS_no_scrollbar {
    max-height: none!important;
  }
  .quickView.fa.fa-eye.icon,
  .fa.fa-ellipsis-v.icon {
    display: none;
  }
  .updates_timeline > li .update_time {
  position: static !important;
}
}
@media (max-width: 991px) { 
  .main-container.calendarview{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  } 
  .list-menu-content .activitytypes .activitytype-indicator {
    padding: 14px 5%;
    margin: 8px;
    font-size: 80%;
    min-height: 35px;
    word-wrap: break-word;
  }
}
div.summaryView span.value.textOverflowEllipsis img {
  max-width: 100%;
}
div.detailview-content.container-fluid span.value img {
  max-width: 100%;
}

/*
 * プロフィールアイコン
 */
/* 管理メニューサムネイル */
#imageContainer > img{
  height: auto;
}
/* 右上個人ボックス */
.profile-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-img-container > img{
  height: auto;
}
/* ユーザー情報詳細左上アイコン */
#prefPageHeader .logo{
  width: 75px;
  height: 75px;
  display: flex;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#prefPageHeader .logo > img{
  height: auto;
}
/* アップロードサムネイル */
[name="existingImages"] img{
  height: auto;
}
/* フィールドラベル */
.detailview-table .fieldLabel,
.recordEditView .fieldLabel,
.summaryView .fieldLabel{
    text-align: right;
}
.detailview-table .fieldLabel .muted{
    color: #222;
    font-weight: bold;
}
.detailview-table .fieldLabel .muted,
.recordEditView .fieldLabel .muted,
.summaryView .fieldLabel .muted{
    color: #222;
    font-weight: bold;
}

@media all and (min-width: 0px) and (max-width: 830px) {
  .detailview-table .fieldLabel,
  .recordEditView .fieldLabel,
  .summaryView .fieldLabel,
  .detailViewInfo.userPreferences .table.detailview-table .fieldLabel{
    text-align: left;
  }
}
.settingsIndexPage .settingsSummary a {
    margin-bottom: 10px;
}
.settingsIndexPage #settingsShortCutsContainer .well {
  margin-left: 0px;
  height: 100px;
}
.module-action-bar.coloredBorderTop {
  width: calc(100% - 42px);
}
@media all and (min-width:992px) and (max-width: 1290px) {
    .global-nav .app-list {
        display: none;
    }
}
.app-navigator-container {
  width: 222px;
}
/*
 * カスタム項目編集画面
 */
.related_field_caution{
  margin-top: 10px;
  float: left;
}
/* 概要画面の関連項目 */
.summaryView .input-group.editElement {
  min-width: auto;
}
.summaryView .input-group.editElement .referencefield-wrapper {
  width: 100% ;
}
.summaryView .input-group.editElement .referencefield-wrapper .input-group {
  min-width: auto;
}
.summaryView .input-group.editElement .referencefield-wrapper .input-group .inputElement {
  width: 100% ;
}