.clearfix {
  clear: both;
}

/* 
 *一覧画面の列幅可変機能追加に伴う修正
 */
table#listview-table {
  border-spacing: 0;
  border-collapse: separate;
}
table#listview-table tr, 
tr.listViewContentHeader > th,
tr.searchRow.listViewSearchContainer > th,
tr.listViewContentHeader > th.table-bottom-border {
  border-bottom: #ddd 1px solid;
}
tr.listViewEntries:first-child {
  border-top: none !important;
  border-bottom: none !important;
}

tr.listViewContentHeader > th.none-border-bottom {
  border-bottom: none !important;
}
tr.listViewEntries:nth-of-type(1) > td.listViewRecordActions,
tr.listViewEntries:nth-of-type(1) > td.listViewEntryValue {
  border-top: 0px !important;
}
table#listview-table .emptyRecordsDiv > td {
  border: none;
}
.dummy {
  right: 0;
  z-index: 1;
  background: #fff;
}
tr.listViewEntries:nth-of-type(1) > td.dummy {
  border-top: none;
}
td.listViewEntryValue  .fieldValue .value {
  max-width: 98%;
}

@media (min-width: 0px) and (max-width: 830px) {
  .listViewPageDiv #table-content.table-container {
    scrollbar-width: none;
  }
}

/*
 * 一覧の左側の列固定（IE11非対応）
 */
 @media (min-width: 991px) { 
  .fix-title-column {
    position: sticky;
    z-index: 1;
    left: 0;
    background: rgb(251, 251, 251);
    transform: scale(0.999);
    background-clip: padding-box;
  }
  .fix-data-column {
    position: sticky;
    z-index: 1;
    left: 0;
    background: #fff;
    background-clip: padding-box;
  }
  .listViewRecordActions.fix-data-column {
    border-bottom: 0px !important;
  }
  .listViewEntryValue {
    border-bottom: 0px !important;
  }
  .listViewEntries {
    border-bottom: 1px solid #ddd;
  }
  .listViewEntries:last-child {
    border-bottom: 0px;
  }
}
/*
 * モーダルウインドウの背景を黒ベースに変更
 */
.modal-backdrop {
  background-color: #555;
}

/*
 * カスタムモジュールのアイコン位置調整
 */
 .app-menu a .module-icon .custom-module {
  position: relative;
  width: 23px;
  height: 20px;
  padding: 8px 6px 0px 3px !important;
}
.app-menu a .module-icon .custom-module span {
  position: absolute;
  top:0px;
  left: 3px;
}
.modules-menu .module-qtip .custom-module {
  text-align: center;
  padding: 3px 4px 3px 4px !important;
}

.related-tabs .tab-icon {
  position: relative;
}
.related-tabs .tab-icon .custom-module {
  position: relative;
  top: 2px;
}
.row .nav > li.tab-item > a,
.row .nav > li.tab-item > a:hover {
  height: 40px;
}
#mailmanagerContainer {
  padding-top: 10px;
}
.app-modules-dropdown-container-global.open {
  background: #eee;
}
.app-modules-dropdown-container-global .dropdown-toggle {
  cursor: pointer;
  padding: 13px;
}
.app-modules-dropdown-container-global .custom-module {
  background: #666;
  color: #fff;
}
.fc-slats tr {
  height: 35px;
}

/**
 * PDF Templates
 */
 #SLAEditContainer .select2.inputElement.PDFTemplates,
 #editTagContainer .select2.inputElement.PDFTemplates {
   width: 90%;
 }

/*
 * モバイル表示
 */
@media (max-width: 768px) { 
  .settingsIcon {
    display: none;
  }
  .calendarview {
    padding-bottom: 25px;
  }
  div.CalendarViewPageDiv {
    padding-top: 30px;
  }
  .list-menu-content.calendar_view_events .mCustomScrollBox {
    max-height: none!important;
    overflow: scroll;
    -webkit-overflow-scrolling: touch
  }
  .main-container .module-nav {
    width: 100%;
    z-index: 1100;
    background-color: #2C3B49;
    background: #2C3B49;
  }
  .module-nav div.modules-menu {
    position: relative;
    left: auto;
  }
  .module-nav div.mod-switcher-container {
    width: 100%;
  }
  .modules-menu ul li {
    display: inline-block;
  }
  .modules-menu ul li.module-qtip a > span {
    display: none;
  }
  .listViewPageDiv.content-area.full-width, .CalendarViewPageDiv.content-area.full-width, .editViewPageDiv.content-area.full-width, .settingsPageDiv.content-area.full-width {
    padding-left: 0!important;
  }
  .detailViewContainer {
    padding-top: 60px;
  }
  .dashBoardContainer {
    padding-top: 40px;
  }
  #mCSB_9_scrollbar_vertical {
    display: none!important;
  }
  .mCustomScrollbar.mCS_no_scrollbar {
    max-height: none!important;
  }
  .quickView.fa.fa-eye.icon,
  .fa.fa-ellipsis-v.icon {
    display: none;
  }
  .updates_timeline > li .update_time {
  position: static !important;
}
}
@media (max-width: 991px) { 
  .main-container.calendarview{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  } 
  .list-menu-content .activitytypes .activitytype-indicator {
    padding: 14px 5%;
    margin: 8px;
    font-size: 80%;
    min-height: 35px;
    word-wrap: break-word;
  }
}
div.summaryView span.value.textOverflowEllipsis img {
  max-width: 100%;
}
div.detailview-content.container-fluid span.value img {
  max-width: 100%;
}

/*
 * プロフィールアイコン
 */
/* 管理メニューサムネイル */
#imageContainer > img{
  height: auto;
}
/* 右上個人ボックス */
.profile-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-img-container > img{
  height: auto;
}
/* ユーザー情報詳細左上アイコン */
#prefPageHeader .logo{
  width: 75px;
  height: 75px;
  display: flex;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#prefPageHeader .logo > img{
  height: auto;
}
/* アップロードサムネイル */
[name="existingImages"] img{
  height: auto;
}
/* コメント部分 */
.commentDetails .recordImage.commentInfoHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: none repeat scroll 0 0 #ababab;
}
.commentDetails .recordImage.commentInfoHeader>img{
  max-width: 100%;
  height: auto;
}


/* フィールドラベル */
.detailview-table .fieldLabel,
.recordEditView .fieldLabel,
.summaryView .fieldLabel{
    text-align: right;
}
.detailview-table .fieldLabel .muted{
    color: #222;
    font-weight: bold;
}
.detailview-table .fieldLabel .muted,
.recordEditView .fieldLabel .muted,
.summaryView .fieldLabel .muted{
    color: #222;
    font-weight: bold;
}

@media all and (min-width: 0px) and (max-width: 830px) {
  .detailview-table .fieldLabel,
  .recordEditView .fieldLabel,
  .summaryView .fieldLabel,
  .detailViewInfo.userPreferences .table.detailview-table .fieldLabel{
    text-align: left;
  }
}
.settingsIndexPage .settingsSummary a {
    margin-bottom: 10px;
}
.settingsIndexPage #settingsShortCutsContainer .well {
  margin-left: 0px;
  height: 100px;
}
.module-action-bar.coloredBorderTop {
  width: calc(100% - 42px);
}
@media all and (min-width:992px) and (max-width: 1290px) {
    .global-nav .app-list {
        display: none;
    }
}
.app-navigator-container {
  width: 222px;
}
/*
 * カスタム項目編集画面
 */
.related_field_caution{
  margin-top: 10px;
  float: left;
}
/* 詳細検索画面 */
#advanceSearchButtonRow {
  text-align: center;
}
button#advanceIntiateSave + input {
  margin-left: 10px;
}
.timepicker-default{
  border: 1px solid #ccc;
}
/* 概要画面の関連項目 */
.summaryView .input-group.editElement {
  min-width: auto;
}
.summaryView .input-group.editElement .referencefield-wrapper {
  width: 100% ;
}
.summaryView .input-group.editElement .referencefield-wrapper .input-group {
  min-width: auto;
}
.summaryView .input-group.editElement .referencefield-wrapper .input-group .inputElement {
  width: 100% ;
}

/* 画面幅320pxのときのヘッダーの検索ボタン調整(全モジュール)*/
@media (max-width: 320px) {
  .navbar-toggle.border0.collapsed {
    margin-right: 5px;
  }
}
/* フォルダ名やリスト名のオーバーフローを省略 */
#Documents_action_content .module-breadcrumb-List .current-filter-name ,
#Documents_action_content .module-breadcrumb-Detail .current-filter-name a ,
#Reports_action_content .current-filter-name {
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* 画面幅が550px以下でレポートとドキュメントのヘッダーを調整 */
@media (max-width: 550px) {
  /* 追加ボタンのpaddingを削除し幅を減らす */
  #Documents_action_content > .pull-right,
  #Reports_action_content > .pull-right{
    padding-right: 0px;
    padding-left: 0px;
  }
  /* ドキュメント追加のボタンの右marginを調整 */
  #Documents_listView_basicAction_Add {
    margin-right: 10px;
  }
  /* ボタンの文字を省略 */
  #Documents_listView_basicAction_Add > .btn-str,
  #Reports_listView_basicAction_Add > .btn-str{
    display: none;
  }
  /* レポート追加のドロップダウンメニューを右寄せ表示 */
  .btn-group.open #addReportsDropdownMenu {
    right: 0;
    left: auto;
  }
}
/* ドキュメント追加のドロップダウンメニューのスタイル */
#addDocumentsDropdownMenu {
  position: absolute;
  border: 1px solid rgba(0,0,0,.2);
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}
#addDocumentsDropdownMenu > li,
#addDocumentsDropdownMenu > li > a {
  color: #333;
}

@media (max-width: 991px) {
  .main-container-Documents #sidebar-essentials.sidebar-essentials,
  .main-container-Reports #sidebar-essentials.sidebar-essentials {
    width: 100%;
  }
}
/**
 * ドキュメントアップロードモーダル
 **/
@media all and (min-width: 0px) and (max-width: 830px) {
  .createDocumentContent > table.table > tbody > tr > td,
  .createDocumentContent > table.table > tbody > tr > th,
  .createDocumentContent > table.table > tfoot > tr > td,
  .createDocumentContent > table.table > tfoot > tr > th,
  .createDocumentContent > table.table > thead > tr > td,
  .createDocumentContent > table.table > thead > tr > th,
  .uploadview-content > .uploadcontrols > #upload > table.table > tbody > tr > td,
  .uploadview-content > .uploadcontrols > #upload > table.table > tbody > tr > th,
  .uploadview-content > .uploadcontrols > #upload > table.table > tfoot > tr > td,
  .uploadview-content > .uploadcontrols > #upload > table.table > tfoot > tr > th,
  .uploadview-content > .uploadcontrols > #upload > table.table > thead > tr > td,
  .uploadview-content > .uploadcontrols > #upload > table.table > thead > tr > th {
    display: block;
    min-width: 100%!important;
  }

  .createDocumentContent > table.table td.fieldLabel > label,
  .uploadview-content > .uploadcontrols > #upload > table.table td.fieldLabel > label {
    float: left !important;
  }
   
   
  .createDocumentContent > table.table td.fieldValue .inputElement,
  .uploadview-content > .uploadcontrols > #upload > table.table td.fieldValue .inputElement {
    width: 100%;
    float: none !important;
  }
}


/**
 * モジュールアイコンのPNGファイル指定時のスタイル調整
 */
/*上ドロップダウンメニュー*/
.col-sm-5 .nav .app-modules-dropdown-container .dropdown-menu .module-icon{
  width: 15px;
  display: inline-block;
  text-align: center;
}
.col-sm-5 .nav .app-modules-dropdown-container .dropdown-menu .module-icon img{
  width: auto;
  max-width: 15px;
  height: auto;
  max-height: 15px;
  margin: 0 auto;
}
/*左メニュー*/
/*関連メニュー*/
/*システム設定　メニュー設定*/
.collapse .nav .tab-item a .tab-icon img,
.col-lg-2 .sortable .modules .menuEditorItem .IconSize img,
.app-menu .container-fluid .app-list .dropdown .dropdown-menu .mCustomScrollBox .mCSB_container .module-icon img{
  width: auto;
  max-width: 23px;
  height: auto;
  max-height: 23px;
  margin: 0 auto;
}
.dropdown-menu .mCustomScrollBox .mCSB_container .module-name{
  position: relative;
  top: 4px;
}
.hidden-xs .modules-menu .mCustomScrollBox .mCSB_container .module-qtip a img{
  width: auto;
  max-width: 20px;
  height: auto;
  max-height: 20px;
  margin: 0 auto;
}
/*詳細*/
.col-sm-6 .clearfix .recordImage .name img{
  width: auto;
  max-width: 80px;
  height: auto;
  max-height: 80px;
  margin: 0 auto;
}
/*レコード画面アイコンの背景白色化と中央寄せ*/
.detailview-header .col-sm-6 .clearfix .change_BG_white{
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  background-color: white !important;
}
/* 製品の場合のみ画像を複数アップロードできる仕様
 * object-fit:containはIE11で使えないのでbackground-size:containを使って中央寄せする
*/
.detailview-header .col-sm-6 .clearfix .change_BG_white .change_BG_center{
  display: flex;
  align-items: center;
  justify-content: center;

  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

/*クイック作成*/
.col-lg-12 .row .col-lg-4 .quickCreateModule img{
  width: auto;
  max-width: 20px;
  height: auto;
  max-height: 20px;
  margin: 0 auto;
}
.col-lg-12 .row .col-lg-4 .quickCreateModule .quick-create-module{
  position: relative;
}

/*システム設定　メニュー設定*/
.col-lg-2 .sortable .modules .menuEditorItem .IconSize img{
  width: 23px;
  height: 23px;
}

/* システム設定画面 */
@media (max-width: 991px) { 
.settingsPageDiv .form-horizontal.recordEditView > .modal-overlay-footer {
    border-left: 0px;
  }
}

/* レポート：罫線 */
#reportDetails table tr td.summaryHead {
    border-bottom: 0;
}

/* 右上のメニューが表示されない場合、スマートフォンでヘッダーのスタイルが崩れる不具合修正 */
@media (max-width: 768px) { 
  .app-nav .module-action-bar .navbar-right{
  float: right;
  height: auto;
  max-height: 42px;
  }
}

/* スマホサイズレポート作成画面 */
@media (max-width: 550px) {
  .reportContents .recordEditView .row{
    margin: 0;
    padding: 0;
  }
}

/* ユーザー一覧画面のユーザーアイコン */
.userIconDiv{
  float: left;
  width: 30px;
  padding: 0 26px 0 10px;
}

/* 関連モジュールのモーダル */
.overlayDetail .modal-content {
  width: 100%;
}
.overlayDetail .modal-content .overlayDetailHeader div > div.col-sm-6.col-lg-6.col-md-6{
  width: 83.3%;
}

/* 概要・詳細画面 */
@media (min-width: 992px) {
  .detailViewContainer.viewContent > .content-area {
      padding-left: 57px;
  }
}
@media (max-width: 991px) {
  .detailViewContainer.viewContent > .content-area {
      padding-left: 15px;
  }
}
@media (min-width: 769px) {
  .detailview-header-block {
  margin-top: 10px;
  }
}

/* 概要画面の関連活動*/
.activityEntries .relatedActivitiesLabel {
  color: #222;
  font-weight: bold;
  padding-right: 25px;
  padding-bottom: 10px;
  text-align: right;
  width: 90px;
}
.activityEntries .relatedActivitiesValue {
  padding-bottom: 10px;
  word-break: break-all;
}
.activityEntries .summaryViewEntries {
  display: flex !important;
  margin-bottom: 10px;
}
.activityEntries .summaryViewEntries > a:first-child{
  font-size: 120%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 60vw;
}

/* 4カラムを維持する為の行を挿入 */
.firstTr td{
  padding: 0 !important;
}

/* 製品の商品一覧 */
ul#productsImageContainer{
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}
ul#productsImageContainer > li{
  width: 180px;
  height: 180px;
  margin: 10px;
  overflow: hidden;
  border: solid 1px #ddd;
}
ul#productsImageContainer > li a{
  cursor: pointer;
  width: 180px;
  height: 180px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* 日報の概要・更新履歴(1740pxは文字が重ならない限界値から決定) */
@media (max-width: 1740px) { 
  .summaryWidgetContainer #updates .updates_timeline > li .update_time {
    position: static !important;
  }
}

/* コメントと製品の画像プレビュー */
.MultiFile-preview {
  margin: 10px;
}
.MultiFile-list .MultiFile-remove {
  margin: 10px;
  color: #ff0000;
  font-weight: 900;
}

/* ダッシュボードのミニリスト */
@media (max-width: 991px) {
  .row.minilist-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .row.minilist-container > div {
    width: 100% !important;
  }
}
.row.minilist-container {
  display: flex;
  flex-wrap: nowrap;
}
.row.minilist-container > div {
  padding-right: 15px; 
  padding-left: 15px; 
}

.tag_owner_name p{
  display: inline;
}

/* メール関連のCC、BCCの隙間を開ける */
#ccLink{
  margin-right: 5px;
}

/* 共有カレンダーのグループ選択の横にチェックボックスを追加する */
.calendarGroupSelect {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

/* レコード編集画面のpadding-leftを可変ではなく固定にする */
@media (min-width: 992px) {
  .editViewPageDiv.viewContent > .content-area {
    padding-left: 57px;
  }
}

/* rc-handleと重ならないように調整 */
.listview-table tr.listViewContentHeader .fa-remove{
  position: relative;
  right: 15px;
  z-index: 1;
} 

/* カレンダーユーザーの選択リスト */
.activitytypes .activitytype-indicator .userName.textOverflowEllipsis {
  vertical-align: middle;
}
@media (min-width: 767px) and (max-width: 991px) {
  .activitytypes .activitytype-indicator .userName.textOverflowEllipsis {
    max-width: 600px;
  } 
}
@media (min-width: 575px) and (max-width: 768px) {
  .activitytypes .activitytype-indicator .userName.textOverflowEllipsis {
    max-width: 400px;
  }
}
@media (min-width: 401px) and (max-width: 576px) {
  .activitytypes .activitytype-indicator .userName.textOverflowEllipsis {
    max-width: 200px;
  }
}

.calendarview div.sidebar-essentials {
  overflow: hidden;
}