version: '3'

services:
  webdb:
    container_name: headlesschrome
    image: headlesschrome:latest
    volumes:
      - /var/www/html2pdf:/html2pdf:cached
    ports:
     - "30080:80"
    privileged: true
    # command: /sbin/init
    command: >
      sh -c 'usermod -u `stat -c %u /html2pdf/` www-data
             groupmod -g `stat -c %u /html2pdf/` www-data
             chown -R www-data:www-data /var/www/html
             chown -R www-data:www-data /html2pdf
             exec /sbin/init'

    dns: 8.8.8.8
    # 自動起動の有効化
    restart: always